*{
    user-select: none;
}
#mainSlideshow .carousel-item  {
    background: black;  overflow: hidden;
}
#mainSlideshow .carousel-item img  {
    object-fit: cover;    opacity: 0.4;
}
.brandSlide img { margin: auto; width: 50%;}

#tabletContent,#tabletBestSelling  { display: block;}
#mobileContent,#mobileBestSelling  { display: none; }

@media screen and (max-width: 600px)    {
    #tabletContent,#tabletBestSelling  {   display: none;}
    #mobileContent,#mobileBestSelling  {   display: block;}
}

.boxShadow  {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
}