.typrewriter h2 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(20,end),
        blink-caret .75s step-end infinite;
}

/* The typing effect*/
@keyframes typing   {
    from { width: 0; }
    to { width: 100%;}
}

/* The cursor effect*/
@keyframes blink-caret  {
    from, to { border-color: transparent; }
    50% { border-color: orange;}
}

#showSpin   {
    animation: cssAnim 0s 4.3s forwards;
    opacity: 0;
}

@keyframes cssAnim  {
    to { opacity: 1;}
}